@import 'tailwindcss';

:root {
  --color-primary: #ad4075;
  --color-secondary: #e69abe;
  --color-accent: #f9ddea;
  --cursive-font: Good Vibes Pro, cursive;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
